<h3>contacts 연락처 정보 입니다.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero repellendus ullam, corporis assumenda aut debitis atque iure tenetur consequatur, error fugiat. Suscipit dignissimos quam quae hic eveniet, harum vitae quas!</p>

<table class='table'>
  <thead>
    <tr>
      <th>이름</th>
      <th>전화번호</th>
    </tr>
  </thead>
  <tbody>  <!--얘는 로딩되었을때 contactsCtrl 이라는 컨트롤러가 있다.-->
    <tr ng-repeat='tmp in userList'>
      <td>{{tmp.name}}</td>
      <td>{{tmp.phone}}</td>
    </tr>
  </tbody>
</table>